services:
  db:
    image: mysql:8.0
    restart: always
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"

  backend:
    build: ./backend
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "8080:8080"
    restart: always

  frontend:
    build: ./frontend
    depends_on:
      - backend
    ports:
      - "5173:5173"
    restart: always

volumes:
  db_data:
